@model IEnumerable<KiemtraMVC.Models.Huyen>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary btn-sm">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.IdHuyen)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.TenHuyen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTinh)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.IdHuyen)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.TenHuyen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTinh)
            </td>
            <td>
                <a asp-controller="Huyen" asp-action="Update" asp-route-id="@item.IdHuyen" class="btn btn-primary mx-2">Edit</a> |
                <a asp-controller="Huyen" asp-action="Details" asp-route-id="@item.IdHuyen" class="btn btn-info mx-2">Details</a> |
                <a asp-controller="Huyen" asp-action="Delete" asp-route-id="@item.IdHuyen" class="btn btn-danger mx-2">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
